/* NAVBAR */
#navBar{
  background-color: /*#ab8e9a #ac998c*/ #a18d43;
  display: flex;
  justify-content: space-between;
}

#logo{
  margin-left: 15px;
  margin-top: 2px;
  font-family: 'Impact', sans-serif;
  letter-spacing: -1px;
  font-size: 400;
}

#logo:hover{
  text-decoration: none;
}

.navRight{
  display: inline-flex;
  float: right;
  margin-right: 20px;
  margin-top: 15px;
}

.navRight a, li{
  list-style-type: none;
  margin: 0 5px;
  color: #444;
  font-family: 'Open Sans Condensed', sans-serif;
}

.navRight a:hover{
  text-decoration: none;
}

#navBar a, h1{
  color: #444;
}
#navBar a, h1:hover{
  text-decoration: none;
}
/* ====================== */
/* MOTTO */
#motto-center{
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
/* the above code allows you to have this type of information to be perfectly center in the page. the usage of percentages allows for pin pointing the center */
}

#classFont{
  font-family: 'Parisienne', cursive;
  font-size: 1.5em;
}

#motto-section{
  height: 630px !important;
}

#motto-section h2{
  color: #444 !important;
  margin-bottom: 30px;
  font-family: 'Open Sans Condensed', sans-serif;
  letter-spacing: 1px;
}
#motto-section a:hover{
  background-color: /*#ab8e9a #ac998c*/ #a18d43;
  border-color: /*#ab8e9a #ac998c*/ #a18d43;
}
/* ====================== */
/* MISSION */
#missionImg{
  width: auto;
  height: auto;
  margin-left: 15px;
}

#mission-section{
  margin-top: 130px;
  height: 300px !important;
}

#mission-section p{
  float: right;
  word-wrap: normal;
  margin-top: 55px;
}

.hidden{
  opacity: 0;
  transition: opacity;
}

.reveal{
  opacity: 1 !important;
  transition: opacity;
  transition-duration: 2.5s;
}

#section-two section{

  box-shadow: 0 2px 1px #888;
}
/* ====================== */
/* PRODUCT */
#product-section{
 background-color: #faf9f7;
 background-color: rgba(0, 0, 0, 0.1);
 height: 600px;
}

#product-section div.row{
  margin-top: 50px;
}
#product-section #plan{
  margin-top: 20px;
  font-family: 'Impact', sans-serif;
  letter-spacing: -1px;
  font-size: 400;
  color: #444;
}

.center-page{
  margin: 0 auto;
  float: none;
}

.center{
  text-align: center;
}

.sku-name{
  font-size: 30px;
  font-weight: 700;
  letter-spacing: -1px;
  margin-bottom: 25px;
}

.retail-price{
  text-decoration: line-through !important;
  font-size: 18px;
  color: #d1d1d1;
}

.monthly-breakdown{
  font-size: 38px;
  font-weight: 700;
  letter-spacing: -1px;
}

.billed-amount{
  margin: 0 auto;
  width: 100%;
  font-size: 15px;
}

.savings{
  font-weight: bold;
  font-size: 22px;
  margin-bottom: 35px;
}

.pricing .cta{
  border-color: pink;
  background-color: pink;
  color: #fff;
  width: 75%;
  padding: 5px 0;
  border: 2px solid pink;
  font-size: 22px;
  border-radius: 5px;
  margin: 0 auto;
}

.pricing span{
  display: block;
  background-color: #fff;
  color: #ab8e9a;
}

.pricing a:hover{
  text-decoration: none;
}

.pricing a.sku{
  border-radius: 5px;
  border: 4px solid #1a372e;
  padding: 30px 5px;
  cursor: pointer;
  display: block;
  background-color: #fff;
}

.pricing hr{
  height: 20px;
  width: 50%;
}

.pricing .body-container{
  max-width: 1200px;
  margin: 0 auto;
  background: transparent;
}

.pricing .body-content{
  padding: 60px 0 70px;
}

.pricing .col-md-10{
  display: flex;
}
/* ====================== */
footer ul{
  display: inline-block;
}

footer a:hover{
  text-decoration: line-through;
  text-decoration-color: #1a372e;
}

footer p {
  float: right;
  color: #444;
  margin-right: 50px;
}
